In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
sns.set_context('poster')

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error 

from statsmodels.stats.outliers_influence import variance_inflation_factor    
from sklearn.linear_model import Ridge, RidgeCV, Lasso, LassoCV
from sklearn.preprocessing import scale

import statsmodels.formula.api as smf

In [2]:
df = pd.read_csv('./baseball/core/Teams.csv')

In [3]:
df.rename(columns={'2B':'doubles', '3B': 'triples'}, inplace=True)

In [6]:
df[['singles', 'doubles', 'triples', 'HR']].describe()

           singles      doubles      triples           HR
count  2835.000000  2835.000000  2835.000000  2835.000000
mean    969.852910   228.127690    46.913580   102.045150
std     147.971468    58.633383    22.253478    61.854749
min      28.000000     3.000000     0.000000     0.000000
25%     932.000000   193.500000    30.000000    42.000000
50%     992.000000   231.000000    41.000000   108.000000
75%    1047.500000   271.000000    60.000000   150.000000
max    1341.000000   376.000000   150.000000   264.000000